:root {
  --purple: #8282fa;
  --purple-dark: #5e60ce;

  --blue: #4ea8de;
  --blue-dark: #1e6f9f;

  --gray-700: #0d0d0d;
  --gray-600: #1a1a1a;
  --gray-500: #262626;
  --gray-400: #333333;
  --gray-300: #808080;
  --gray-200: #d9d9d9;
  --gray-100: #f2f2f2;

  --danger: #e25858;

  --xs: 12px;
  --sm: 14px;
  --base: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
body {
  font-family: "Inter", sans-serif;
}

body {
  background: var(--gray-600);
}

body::-webkit-scrollbar {
  width: 9px;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--gray-400);
  border-radius: 20px;
  border: 1px solid var(--gray-400);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
}
