.root {
  background: var(--gray-700);

  height: 200px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.root h1 {
  color: var(--blue);
  font-weight: 900;
  font-size: 2rem;

  display: flex;
  align-items: center;
}

.root h1 span {
  color: var(--purple);
}
.root img {
  margin-right: 0.75rem;
}

@media (min-width: 768px) {
  .root h1 {
    font-size: 2.5rem;
  }
}
